html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  min-width: 1230px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* header */
.header {
  margin-top: 73px;
  margin-bottom: 38px;
}

.logo-box {
  width: 347px;
  height: 47px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.logo-link {
  display: block;
}

.logo-link:hover,
.logo-link:focus {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  margin-right: 30px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-link {
  display: block;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  opacity: 0.6;
}

.nav-list-link:active {
  opacity: 0.3;
}

/* main */
.underwater-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 464px;
  background-color: #0b1425;
  background-image: url("../img/underwater-hotel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 44px;
}

.underwater-hotel::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ff7931;
  background-image: url("../img/icon-mountains.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 32px;
}

.title-h1 {
  margin: 0;
  font-size: 70px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 135px;
}

.intro {
  max-width: 460px;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.reviews {
  margin-bottom: 52px;
}

.title-h2 {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.title-h2-mb20 {
  margin-bottom: 20px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  margin-bottom: 10px;
  margin-right: 29px;
}

.reviews-list-item:nth-child(3n) {
  margin-right: 0px;
}

.reviews-list-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.reviews-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 11px;
}

.reviews-link {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-decoration: none;
  color: black;
}

.reviews-link:hover,
.reviews-link:focus {
  opacity: 0.6;
}

.reviews-link:active {
  opacity: 0.3;
}

.reviews-box {
  order: -1;
  width: 370px;
  height: 203px;
  margin-bottom: 20px;
}

.reviews-description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.season-tickets {
  background-color: #f7f7f7;
  background-image: url("../img/ellipse.png"), url("../img/rectangle.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  margin-bottom: 50px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.season-tickets-mb {
  margin-bottom: 35px;
}

.season-tickets-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 46px;
}

.season-tickets-item {
  max-width: 370px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.season-tickets-item::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.season-tickets-item:last-child:after {
  content: none;
}

.season-tickets-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.season-tickets-description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.season-tickets-box-link {
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  justify-content: center;
}

.season-tickets-watch {
  display: flex;
  align-items: center;
  width: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  background: #FF7931;
  text-decoration: none;
  padding: 11px 28px;
}

.season-tickets-watch::after {
  content: "";
  width: 24px;
  height: 25px;
  background-image: url("../img/arrow-forward.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  padding: 4px;
}

.season-tickets-watch:hover,
.season-tickets-watch:focus {
  opacity: 0.6;
}

.season-tickets-watch:active {
  opacity: 0.3;
}

/* footer */
.footer {
  background-color: #575757;
  padding-top: 35px;
  padding-bottom: 37px;
}

.logo-box-footer {
  width: 281px;
  height: 38px;
  margin-bottom: 12px;
}

.link-white {
  color: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.footer-nav::after {
  content: "";
  width: 100%;
  height: 1px;
  /* bottom: -46px; */
  background-color: white;
  margin-top: 36px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 169px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-bottom: 10px;
  margin-right: 14px;
}

.social-item:nth-child(3n+3) {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 47px;
  height: 47px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
}

.social-link:hover,
.social-link:focus {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.3;
}

.social-insta {
  background-image: url("../img/icon-insta.svg");
}

.social-facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social-twitter {
  background-image: url("../img/icon-twitter.svg");
}
